{% load static %}
<div class="position-relative pt-5 pb-4 header">
    <div class="portfolio-image"
         style="z-index: -1; background-image: url({% static 'frontend/assets/images/bg2.png' %});"></div>
    <div class="align-items-end py-5 px-4 px-md-5">
        <div class="font-secondary py-md-4 py-xl-5 mx-lg-5">
            <div class="portfolio-caption text-white font-weight-semibold">
                <div class="text-tiny font-weight-light">СТРАХОВАЯ КОМПАНИЯ <br> NEW LIFE INSURANCE
                    <br/>
                    <small>Начните новую жизнь с нами!</small>
                </div>
            </div>
        </div>
    </div>
</div>