{% load static %}
<div class="position-relative pt-5 pb-4 header">
    <div class="portfolio-image"
         style="z-index: -1; background-image: url({{ news.bg_image.url }});"></div>
    <div class="align-items-end py-5 px-4 px-md-5">
        <div class=" py-md-4 py-xl-5 mx-lg-5">
            <div class="portfolio-caption font-weight-semibold text-white">
                <div class="font-weight-light">{{ news.title }}
                    <br/>
                 </div>
                <small class="text-tiny font-weight-light">
                    {{ news.short_content }}
                </small>
            </div>
        </div>
    </div>
</div>
